body {
  font-family: system-ui;
  margin: 20px;
}

p {
  max-width: 75%;
  margin: 0 0 1em;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#selectors-container {
  width: fit-content;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.selector-box {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 15px;
  width: 200px;
}

.selector-box label {
  display: block;
  margin-bottom: 3px;
}

#Gas_Selector select,
#Industry_Selector select {
  width: 200px;
  padding: 3px;
  font-family: system-ui;
}

svg {
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

#chart-container {
  display: flex;
  align-items: center;
  gap: 20px;           
  margin-top: 20px;
}

#gas_plot {
  flex: 0 0 auto;
}

#legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  font-family: sans-serif;
  font-size: 13px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend-item span:first-child {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

#legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  font-family: sans-serif;
  font-size: 13px;

  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;  
  padding: 10px 14px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#writeup {
  width: 75%;
  margin: 40px 0;
}
